<div>
    Episode lists
    sword-art-online
</div>
<div *ngFor="let item of newEpisode.getSeriesList() | keyvalue">
    <div *ngIf="item.value != null"> 

  <div *ngFor="let series of item.value | keyvalue"> 
          <h2>{{series.key}}</h2>
        <div *ngFor="let show of series.value">
            <div *ngIf="show.haveSeen; else haveNotSeen">
                <button class="clear" (click)="newEpisode.haveSeen(show.episodeName, show.seriesName)">NotSeen</button> 
                <label style="color:green">{{show.episodeName}} </label>  
            </div>
            <ng-template #haveNotSeen>
                <button class="clear" (click)="newEpisode.haveSeen(show.episodeName, show.seriesName)">Seen
                    
                </button>
                <label style="color:red">{{show.episodeName}} </label>  
            </ng-template>
         </div>
  </div>
          

</div>
</div>
{{score}}